Scale scale = 1;

ColorGrid tempMap = ~/img/temp/map.png;

Sheet spritesheet = ~/img/temp/spritesheet.png;

Bounds player = {   0, 0, 32, 32 };
Bounds ally   = {  32, 0, 32, 32 };
Bounds enemy  = {  64, 0, 32, 32 };
Bounds wall   = {  0, 32, 32, 32 };
Bounds stairs = { 32, 32, 32, 32 };
Bounds path   = { 64, 32, 32, 32 };