Scale = 1;

ColorGrid tempMap = ~/img/temp/map.png;

Sheet = ~/img/temp/spritesheet.png;

Sprite player = { , {  0,  0, 32, 32 } };
Sprite ally   = { , { 32,  0, 32, 32 } };
Sprite enemy  = { , { 64,  0, 32, 32 } };
Sprite wall   = { , {  0, 32, 32, 32 } };
Sprite stairs = { , { 32, 32, 32, 32 } };
Sprite path   = { , { 64, 32, 32, 32 } };