scale = 2;
tbyteSheet  = ./res/img/tbyte.png;
tbyteBounds = { 0, 0, 200, 200 };

tempSheet = ./res/img/temp/spritesheet.png;

playerBounds = { 0, 0, 32, 32 };

allyBounds = { 32, 0, 64, 32 };

enemyBounds = { 64, 0, 96, 32 };

wallBounds = { 0, 32, 32, 64 };

stairsBounds = { 32, 32, 64, 64 };

pathBounds = { 64, 32, 96, 64 };
